# Womens Clothing Dataset Inspection
The dataset is only 8MB in size, so this is a fairly simple inspection.

In [1]:
import numpy as np
import pandas as pd

In [13]:
clothing_df = pd.read_csv(r'rough_data\anonymized_womens_clothing_reviews\womens_clothing_e-commerce_reviews.csv')

In [37]:
clothing_df['Clothing ID'].value_counts()[0:151]

1078    1024
862      806
1094     756
1081     582
872      545
        ...
1117      25
1055      25
1004      25
841       25
1046      24
Name: Clothing ID, Length: 151, dtype: int64

150 Unique items have more than 25 reviews per item.

In [38]:
clothing_df['Clothing ID'].value_counts()[0:101]

1078    1024
862      806
1094     756
1081     582
872      545
        ...
815       53
974       50
869       50
844       50
839       48
Name: Clothing ID, Length: 101, dtype: int64

100 Unique items have more than 50 reviews per item.

In [39]:
clothing_df['Clothing ID'].value_counts()[0:61]

1078    1024
862      806
1094     756
1081     582
872      545
        ...
1037     106
886      106
823      105
1060     103
824       96
Name: Clothing ID, Length: 61, dtype: int64

60 Unique items have more than 100 reviews per item.

With the large positive skew exhibited by online user reviews, we need a significant number of reviews to increase the likelyhood of negative reviews being present at all. The negative reviews (1 and 2 out of 5) are likely to be only about 10% of the total reviews, according to prior research.

Now for some ratings info:

In [41]:
clothing_df['Rating'].mean()

4.196031678446734

The overall average rating for clothing articles was 4.2

In [48]:
clothing_df.groupby('Clothing ID')['Rating'].agg(['mean','count']).sort_values('count', ascending=False)[:50]

                 mean  count
Clothing ID
1078         4.204102   1024
862          4.200993    806
1094         4.189153    756
1081         4.281787    582
872          4.383486    545
829          4.193548    527
1110         4.281250    480
868          3.946512    430
895          4.299505    404
936          4.326816    358
867          4.111111    351
850          4.307692    338
1095         4.051988    327
863          4.310458    306
1077         4.084175    297
1059         4.292517    294
1086         4.230241    291
1080         4.294118    289
860          4.093750    288
1083         4.357430    249
861          4.151639    244
873          4.340336    238
828          4.293333    225
1092         4.131818    220
1033         4.427273    220
927          4.116822    214
1056         4.305164    213
820          4.236967    211
836          4.078049    205
1022         4.443902    205
1072         4.005076    197
1008         4.462366    186
1104         4.043243    185
984          4.462857    175
831          4.274390    164
1020         4.265823    158
833          4.070064    157
877          4.207792    154
854          4.210526    152
834          4.540000    150
1082         3.857143    147
864          4.151724    145
835          4.113475    141
1099         4.338235    136
1035         4.259259    135
865          4.014925    134
940          4.384615    130
907          4.407692    130
1087         3.751938    129
1025         4.464000    125

Looks like most articles of clothing with significant numers of reviews averaged ratings in the low to mid 4's. 


How to efficiently get the number of reviews for each rating level for each product? This is the next step.